name: Update

on:
  schedule:
    - cron:  '35 8 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          pip3 install svn
      - name: Configure Git
        run: |
          git config --global user.email "bot@modm.io"
          git config --global user.name "modm update bot"
      - name: Run update.py script
        run: |
          python3 update.py
      - name: Git push
        run: |
          git push origin master
